<!-- menu, we did go with a static one, you can build a dynamic one, just google a little around -->
<div class="main-menu">
    <div class="content">
        <nav id="menu">
            <a class="toggle-link noline"><i class="fa fa-close fa-lg"></i></a>
            <ul>
                <li>
                    <a class="homelink" href="{{ site.baseurl | replace: '//', '/' }}/">Inicio</a>
                </li>
                <li>
                    <a href="{{ site.baseurl | replace: '//', '/' }}/archive">Archivo</a>
                </li>
                <li>
                    <a href="{{ site.baseurl | replace: '//', '/' }}/contacto">Contacto</a>
                </li>
            </ul>
        </nav>
        <nav class="iconnav">
            <ul>
                <li class="sicon">
                   <a href="{{site.baseurl}}/search/" title='Buscar'><i class='fa fa-search'></i></a>
                </li>
                {% if site.twitter %}
                <li class="social">
                    <a href="{{ site.twitter }}" class="twitter" title='Twitter'><i class="fa fa-twitter"></i></a>
                </li>
                {% endif %} {% if site.telegram %}
                <li class="social">
                    <a href="{{ site.telegram }}" class="telegram" title='Telegram'><img src="/img/telegram.png"></a>
                </li>
                {% endif %} {% if site.youtube %}
                <li class="social">
                    <a href="{{ site.youtube }}" class="youtube" title='Youtube'><i class="fa fa-youtube"></i></a>
                </li>
                {% endif %} {% if site.archive %}
                <li class="social">
                    <a href="{{ site.archive }}" class="archive" title='Archive'><i class="fa fa-university"></i></a>
                </li>
                {% endif %} {% if site.gitlab %}
                <li class="social">
                    <a href="{{ site.gitlab }}" class="gitlab" title='Gitlat'><img src="/img/gitlab.png"></a>
                </li>
                {% endif %} {% if site.feed %}
                <li class="social">
                    <a href="{{ site.feed }}" class="feed" title='Feed Blog'><i class="fa fa-rss"></i></a>
                </li>
                {% endif %} {% if site.feedexpress %}
                <li class="social">
                    <a href="{{ site.feedexpress }}" class="feedexpress" title='Feed LinuxExpress'><i class="fa fa-rss-square"></i></a>
                </li>
                {% endif %} {% if site.correo %}
                <li class="social">
                    <a href="mailto:{{site.correo }}" class="correo" title='Correo'><i class="fa fa-envelope-o"></i></a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <a href='#menu' class="toggle-link noline">
            <i class="fa fa-navicon"></i>
        </a>
    </div>
</div>
